<div class = "container home " >

    <div id="home-header" class="jumbotron-billboard">
        <h3 style="font-family: 'Frijole', cursive; text-align: center; color:darkred;"> Welcome to </h3>
        <h1 style="font-family: 'Frijole', cursive; text-align: center; color:darkblue; font-size: 400%">Penn Cloud! </h1>
        <div class="routes">
            <!--<form style="display: none; margin-top: 10px;" class="pwdform" action="/home" method= "POST">-->
            <!--<input type="text" name="oldpwd" placeholder="old password">-->
            <!--<input type="text" name="newpwd" placeholder="new password">-->
            <!--<input type="submit" class="btn btn-primary btn-md" value="Change password!">-->
            <!--</form>-->
        </div>
    </div>

</div>


<script language="javascript">
    $(".chpwd").on("click", function(){
        $(".pwdform").fadeToggle();
    });
</script>

